<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
    <title>Top Tunes</title>
    <link rel="stylesheet" href="top.css">
</head>
<body>
    
    <div class="container"> 
        <%- include('partials/nav') %>
        <div>
        <% posts.forEach(post => { %>
            <div class="audio-card">
                <audio src="<%= '/audio/'+post.filename %>"></audio>
              <p class="card-title"><%= post.title %></p>
              <p class="card-text">Posted by <%= post.username %> on <%= post.timestamp %></p>
              <ion-icon class="card-upvote" name="thumbs-up-outline"></ion-icon>
              <p class="card-upvote-text"><%= post.upvotes %> upvotes</p>
              
            </div>
        <% }) %>
         </div>


            
            
        <script src="front.js"></script>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    </div>
</body>
</html>

    
