<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
    <title>Top Tunes</title>
    <link rel="stylesheet" href="top.css">
</head>
<body>
    
    <div class="container"> 
        <%- include('partials/nav') %>
        <div class="cards-cover">
        <% posts.forEach(post => { %>
            <div class="audio-card">
                <audio id="audio" src="<%= '/audio/'+post.filename %>"></audio>
                <%- include('partials/audioPlayer') %>
                <h1><%= post.title %></h1>
                <p>Posted by <%= post.username %> on <%= post.timestamp %></p>
                <div>
                    <ion-icon class="card-upvote" name="thumbs-up-outline"></ion-icon>
                    <p class="card-upvote-text"><%= post.upvotes %> upvotes</p>
                </div>
            </div>
        <% }) %>
         </div>


            
            
        <script src="front.js"></script>
    </div>
</body>
</html>

    
