<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
    <title><%='title: ' + post.title%></title>
</head>
<body>
     
    <div class="container"> 
        <%- include('partials/nav') %>
        <div class="bouncy-box-cover">
            <div class="bouncy-box">
                <h2 class="title-label"><%=post.title%></h2>

                <!-- <audio src="../audio/<%=post.filename%>"></audio> -->
                <%- include('partials/audioPlayer', {filename: post.filename}) %>
                <a href="../audio/<%=post.filename%>" download="<%=post.originalname%>" >Download</a>
                <p id="upvotes-count"><%= post.upvotes %> upvotes</p>
                <button class="upload-btn" onclick="upvote()">Upvote</button>
            </div>
            </div>
        </div>
            
            
        <script src="front.js"></script>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    </div>
</body>

<script>
    const upvote = (() => {
    console.log("sending upvote")
      const postId = "<%= post._id %>";
      console.log(postId);
      fetch(`/api/posts/upvote`, {
        method: "PUT",
        headers: {
         
          "postId": postId
        }
      })
        .then(response => response.json())
        .then(data => {
          const upvotes = data.upvotes;
          const upvoteEl = document.querySelector("#upvotes-count");
          upvoteEl.textContent = `${upvotes} upvotes`;
        })
        .catch(error => console.error(error));
    });
  </script>
</html>

    
